@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {

    /* BASIC ROOT */
    --roboto: "Roboto Slab", serif;
    --poppins: 'Poppins', sans-serif;



    --mainfont: #24242e;
    --mainfont1: #667081;
    --grayfont: rgb(95, 95, 95);
    --secondaryfont1: #acccd4;
    --secondaryfont: #DCF2F1;
    --navbar-color: #1618139a;
    --salmon: #FA8072;
    --scarlet: #FF2400;
    --barn-Red: #7C0A02;
--Imperial-Red:#ED2939;
--Indian-Red: #CD5C5C;
--chili-Red: #E32227;
--Fire-Brick: #B22222;
--Carmine: #D70040;
--Maroon: #800000;
--Redwood:#A45A52;
--Desire:#EA3C53;
--Vermillion: #E34234;
--Candy-Apple: #FF0800;
--Hibiscus: #B6316C;
--Raspberry: #E30B5C;
--Mahogany: #C04000;
--Crimson: #DC143C;
--Sangria: #9E0008;
--Burgundy: #800020;
--Rust: #B7410E;

    /*GRADIENT  */
    --monospace: 'Source Code Pro', monospace;
    --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.22) 36.98%, rgba(22, 24, 19, 0.47) 70.83%, rgba(22, 24, 19, 0.76) 100%);
    --gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.42) 21.88%, rgba(22, 24, 19, 0.69) 41.67%, rgba(22, 24, 19, 0.9) 61.98%, rgba(22, 24, 19, 0.99) 78.12%, #161813 100%);
    --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
    --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
     


    /* BUTTON ROOT */
    --gradient-color: linear-gradient(90deg,
            hsl(0, 0%, 46%) 0%,
            hsl(24, 11%, 9%));
    --black-color: hsl(0, 0%, 100%);
    --reflection-color: hsla(48, 30%, 95%, .3);

    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;


}

html {
    scroll-behavior: smooth;

}

header {
    min-height: 100vh;
}

body {
    background-color: #161813;
}

/* NAVBARRRRR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    padding: 20px 10rem 20px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050505b7;
}

.llogo {
    position: absolute;
    top: -11px;
    left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Desire);
    font-weight: 800;
    font-size:25px ;
    font-family: var(--poppins);
}
.logo {
    width:125px;
    
}



.links-container {
    display: flex;
    gap: 2.5rem;

}

.link-item {
    list-style: none;

}

.rl {
    color: var(--Desire);
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 19px;
    font-weight: 600;

    transition: 200ms ease;
}

.rl:hover {
    color: var(--salmon);
}


.navmenu {
    position: absolute;
    width: 60px;
    right: 1rem;
    top: 1.2rem;
    display: none;
}


/* BACKROUND IMAGE */


.welcome-bg {
    position: absolute;
    z-index: -1;
   width: 100%;
   height: 100%;
    top: 0;
    left: 0;
 


}

.welcome-bg img {
    width: 100%;
    height: 100%;
    filter: brightness(30%);
   object-fit: cover;
   object-position: top;
}

.welcome-bg::before,
.welcome-bg::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.welcome-bg::before {
    top: 0;
    left: 0;
    background: var(--gradient-top);
}

.welcome-bg::after {
    bottom: 0;
    left: 0;
    background: var(--gradient-bottom);
}




/* WELCOME PAGE */


.welcome-page {
    min-height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;



}

.welcome-content {
    padding: 15px;
}

.welcome-text {
    max-width: 1200px;
    margin: 0 auto;
}
.welcome-content p {
    font-family: var(--poppins);
    color: var(--salmon);
    font-size: 25px;
    font-weight: 500;
 
}

.w3 {
    width: 200px;
}





.welcome-content h1 {
    font-family: var(--roboto);
    font-size: 70px;
    font-weight: 200;
    color: white;
}



.company-name {

    color: #b6f0ff;
    font-weight: 700;

}

.imp-name {
    color: var(--Carmine);
    font-weight: 700;
}

.mabuhay {
    font-size:18px ;
    color: white;
    font-weight: 400;
    font-family: var(--roboto);
}





/* ARROW */

.scroll-d {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    animation: test ease .5s infinite;

}







/* ABOUT SECTION */
.about-titles {
    font-family: var(--poppins);
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    color: var(--Carmine);

}

.about-titles h1 {
    color: var(--Carmine);
    font-size: 40px;
    margin: 0 0 10px 0;
    font-family: var(--roboto);
    font-weight: 400;
}

.about-titles p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--salmon);
    margin-bottom: 5rem;
}

.aboutsec {
    width: 90%;
    margin: 0 auto;
    padding: 12rem 20px;
    min-height: 100vh;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 25px;

}

.freepik {
    color: rgb(240, 238, 235);

    width: 500px;



    transition: 500ms ease;
    border: 4px solid #b6f0ff;
    border-radius: 15px;

}




.about-details {

    font-family: var(--poppins);
    width: 600px;
}



.about-details h1 {
    color: var(--Carmine);
    font-size: 40px;
    margin: 0 0 10px 0;
    font-family: var(--roboto);
    font-weight: 400;
}

.about-details p {
    color: var(--salmon);
    font-size: 16px;
    margin: 0 0 30px 0;
    line-height: 2;
    text-align: justify;

}






/* DESTINATION SECTION */

.explore {


    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.explore-details {
    font-family: var(--poppins);
    color: var(--secondaryfont);
    margin-bottom: 80px;


}




#travel {
    font-family: var(--poppins);
    min-height: 100vh;
    background-color: #161813;
}

/* D- HEADINGS */

.d-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 5rem 0;
    color: var(--mainfont);
    font-size: 27px;
}

.d-heading h2 {
    font-weight: 700;

}




/* D BOX */

.d-box {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;


}

.boxd {
    width: 350px;
    height: 500px;
    padding: 12.5rem 0 0px 0;
    margin: 2rem;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 500ms ease;

}

.boxd1 {
    width: 350px;
    height: 500px;
    padding: 12.5rem 0 0px 0;
    margin: 2rem;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 500ms ease;
}

.boxd2 {
    width: 350px;
    height: 500px;
    padding: 12.5rem 0 0px 0;
    margin: 2rem;
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 500ms ease;

}


.dtxt>*:not(.box-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.boxd:hover .dtxt>*:not(.box-title),
.boxd1:hover .dtxt>*:not(.box-title),
.boxd2:hover .dtxt>*:not(.box-title),

.boxd:focus-within .dtxt>*:not(.box-title),
.boxd1:focus-within .dtxt>*:not(.box-title),
.boxd2:focus-within .dtxt>*:not(.box-title) {

    opacity: 100;
    transition-delay: 300ms;
}

.boxd:hover,
.boxd1:hover,
.boxd2:hover,
.boxd:focus-within,
.boxd1:focus-within,
.boxd2:focus-within {
    transform: scale(110%);
}



.boxd .dtxt,
.boxd1 .dtxt,
.boxd2 .dtxt {
    transform: translateY(40%);
    transition: transform 500ms ease;


}


.boxd:hover .dtxt,
.boxd1:hover .dtxt,
.boxd2:hover .dtxt,
.boxd:focus-within .dtxt,
.boxd1:focus-within .dtxt,
.boxd2:focus-within .dtxt {

    transform: translateY(-25%);
    transition-duration: 0ms;

}

.boxd:hover .dtxt,
.boxd1:hover .dtxt,
.boxd2:hover .dtxt {

    transition: transform 500ms ease;
}







.dtxt {

    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / .2) 10%,
            hsl(0 0% 0% / 1));
    --padding: 2rem;
    padding: var(--padding);
    max-width: 350px;
    height: 450px;
    font-size: .85rem;


}






/* TITLEEEEEEEEEEEEEEEEEEEEE */

.dtxt .box-title {

    position: relative;
    margin-bottom: 50px;
    width: max-content;
    color: var(--secondaryfont);
    margin: 10px 5px 1.5rem 10px;
    font-size: 1rem;
    font-weight: 700;




}



.dtxt .box-title a {

    color: var(--secondaryfont1);
    text-decoration: none;
}



.dtxt .box-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding)* 1.7);
    background: var(--secondaryfont1);
    bottom: 0;
    left: calc(var(--padding)* -1.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1000ms ease;

}

.boxd:hover .dtxt .box-title::after,
.boxd1:hover .dtxt .box-title::after,
.boxd2:hover .dtxt .box-title::after,
.boxd:focus-within .dtxt .box-title::after,
.boxd1:focus-within .dtxt .box-title::after,
.boxd2:focus-within .dtxt .box-title::after {
    transform: scaleX(1);


}



/* PARAGRAPHHHHHHHHHHHHHHH */

.dtxt .box-text {
    color: var(--secondaryfont);
    margin: 10px 5px 10px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

/* BUTTONS */
/* 
.button {
    margin: 0 0 0 10px;
    color: var(--mainfont);
    padding: .3rem 2rem;
    border-radius: 20px;
    background-color: var(--secondaryfont);
    cursor: pointer;
    text-decoration: none;
    transition: 500ms ease;
}

.button:hover {

    background-color: var(--mainfont);
    color: var(--secondaryfont);
 
} */

hr {
    display: block;
}






/* GALLLALLAL */


.explore-titles {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 1rem;
}
.b-section {
    width: 100%;
    min-height: 100vh;
    padding: 20px 20rem;
}

.b-sec-title {
    text-align: center;
    font-family: var(--roboto);
    font-size: 40px;
    justify-content: center;
    color: var(--Carmine);
    display: flex;
    margin-top: 80px;


}

.b-sec-details {
    text-align: center;
    font-family: var(--poppins);
    color: var(--salmon);
    margin-bottom: 30px;
    
    

}

.b-container {
    position: relative;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;



}


.b-card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: end;

    font-family: var(--poppins);
    color: var(--secondaryfont);


}

.etitle {
    font-weight: 800;
    font-size: 25px;
    color: var(--salmon);
}

.ebutton {
    font-weight: 50;
    position: relative;
    font-size: 13px;
    text-decoration: none;
    color: var(--secondaryfont);
}

.b-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 500ms ease;
    filter: brightness(40%);
}



.b-card:hover .b-img {
    transform: scale(1.1);
    filter: brightness(100%);
}

.b-card:nth-child(1) {
    grid-row: span 2;
}

.b-card:nth-child(2) img{
    object-position: top;
}

.b-card:nth-child(3) {
    grid-row: span 2;
}

.b-card:nth-child(2) {
    grid-row: span 2;
}

.b-card:nth-child(4) {
    grid-row: span 2;
}




/* SERVICES */

.service-section {
    min-height: 100vh;
   
    display: flex;
    margin-top: 100px;
    flex-direction: column;
align-items: center;
}

.service-title {

    font-family: var(--roboto);
    font-size: 40px;
    text-align: center;
    color: var(--Crimson);
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.service-details {
    font-family: var(--poppins);
    color: var(--secondaryfont);
    text-align: center;
 max-width: 768px;
}


.service-details ,p {
    color: var(--salmon);
}

/* CARD */


.service-container {

    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, .1fr);
    color: var(--secondaryfont1);
    grid-gap: 1rem;
    margin-top: 80px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.service-card {
    width: 260px;
    height: 250px;
    border-radius: 25px;
    border: var(--Carmine) solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--poppins);
    gap: 12px;
    background: #2729254d;
    text-align: center;
    position: relative;
    transition: 500ms ease;
}

.service-card i {
    font-size: 60px;
    z-index: 1;
    color: var(--Candy-Apple);
}


.service-card-text {
    color: var(--salmon);
    z-index: 1;
}

.anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 400ms ease-in-out;
    clip-path: circle(0.0% at 50% 50%);
    background-color: var(--secondaryfont1);
    border-radius: 20px;

}

.service-card:hover .anim {
    clip-path: circle(70.7% at 50% 50%);
}

.service-card:hover {
    color: #92e6fc;
}

.service-card:nth-child(1) .anim {

    background: url(ppl/Jose.jpg);
    background-size: cover;
    opacity: .8;
}

.service-card:nth-child(2) .anim {

    background: url(Instruments/6.jpg);
    background-size: cover;
    opacity: .8;
}

.service-card:nth-child(3) .anim {

    background: url(delicacies/moron.jpg);
    background-size: cover;
    opacity: .8;
}

.service-card:nth-child(4) .anim {

    background: url(tanay/1.jpg);
    background-size: cover;
    opacity: .8;
}

#explore-grid img {
    cursor: pointer;
}


/* POPUP IMAGE ON CLICK */
.pop-up-img {
    position: fixed;
    top: 0%;
    left: 0%;
    background: #10110ea4;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    /* backdrop-filter: blur(3px); */
}

.pop-up-img span {
    position: absolute;
    top: 25px;
    right: 27px;
    font-size: 30px;
    font-weight: 800;
    color: #b6f0ff;
    cursor: pointer;
    transition: 250ms ease;
    z-index: 25;
}

.pop-up-img span:hover {
    color: #647d83;
}

.pop-up-img img {
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    padding: 3rem;
    border-radius: 65px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    position: absolute;
}


.main-grid-title {
    text-align: center;
    font-family: var(--roboto);
    margin-top: 7rem;
    

    color: var(--Carmine);
    font-size: 35px;
}


.a1-description-container h1 {
    font-family: var(--roboto);
    color: var(--Carmine);
    font-size: 30px;
}


.explore-grid-main {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 5rem;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

.explore-grid1 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
    margin-bottom: 5rem;

}



.explore-grid2 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
   columns: 3;
    margin-top: 20px;
    margin-bottom: 5rem;
}

.explore-grid3 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
}

.explore-grid4 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
}


.grid-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: .7;
    transition: 500ms ease;
}

.grid-img:hover {
    opacity: 1;

}

.grid-title {
    font-family: var(--roboto);
    color: var(--Carmine);
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.grid-description {

    font-family: var(--poppins);
    margin: 5px 0 5px 0;
   
    text-align: justify;
    color: var(--salmon);
    font-size: 20px;
}

.a1-description-container {
    border: var(--salmon) 2px solid;
    border-radius: 5px;
    padding: 25px;
 margin-top: 5rem;
}

.moving-arrow {
    position: relative;
    left: 48%;
    animation: arrow 1s infinite ease-in-out;

}

@keyframes arrow {
    0%{ top:5rem;}
    50%{top:3rem }
    100% {top:5rem;}
}



.grid-description1 {
  font-size: 16px;
  color: var(--salmon);
  font-family: var(--poppins);
  text-align: justify;
  padding: 1rem 0;
 
}

.bookings {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 30px;

    padding: 0 10vw;
}

.book-img {
    position: absolute;
    width: 55%;
    right: 0;
    top: 0;
    z-index: -9;
}

.book-container {
    font-family: var(--poppins);
    font-size: 20px;
    color: var(--secondaryfont);




}

.book-details {
    padding: 15px 33vw 0 0;
    text-align: justify;
    line-height: 2;
}

.book-title {
    font-family: var(--roboto);
    font-size: 60px;
    font-weight: 300;
    width: 450px;
    color: #b6f0ff;
}








/* FOOTER */

footer {
    background-color: #10110e;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;

}

footer i {

    color: var(--Imperial-Red);
}

.f-logo {
    width: 120px;
}


.footer-msg {
    max-width: 390px;
    margin: 0 auto;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
}

#f-company {
    text-align: justify;
}

#f-company h1 {
    color: var(--Carmine);
    font-family: var(--roboto);
    font-weight: 500;
  
}

#f-company img {
    display: inline;
}

#f-company p {
    margin-bottom: 10px;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fcolumn {
    min-width: 250px;
    color: var(--secondaryfont);
    font-family: var(--poppins);
    padding: 0 .5rem;


}

.fcolumn h3 {
    color: var(--Carmine);
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;

}

.fcolumn h3:after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: var(--salmon);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 500ms ease;
    transform-origin: center;
}

.fcolumn h3:hover::after {
    width: 60%;
}

/* SOCIALS */



.f-socials i {
    font-size: 20px;
    margin-right: 10px;
    transition: 200ms ease;
}


.f-socials {
    display: flex;
    position: relative;
    margin-left: 15px;
}

/* Facebook */
.fb {
    position: absolute;
    top: -45px;
    left: -45px;
    background: var(--Crimson);
    padding: 4px 15px;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease-in-out;
}

.fb-box:hover .fb {
    opacity: 1;
    visibility: visible;

}

.fb-box:hover i {
    transform: scale(1.5);
    color: #316FF6;
}


/* Discord */

.dc {
    position: absolute;
    top: -45px;
    left:-7px;
    background: var(--Crimson);
    padding: 4px 15px;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease-in-out;
}

.dc-box:hover .dc {
    opacity: 1;
    visibility: visible;

}

.dc-box:hover i {
    transform: scale(1.5);
    color: #5865F2;
}


/* Github */

.git {
    position: absolute;
    top: -45px;
    left: -27px;
    background: var(--Crimson);
    padding: 4px 15px;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease-in-out;
}

.git-box:hover .git {
    opacity: 1;
    visibility: visible;

}

.git-box:hover i {
    transform: scale(1.5);
    color: #fcfcfc;
}








footer a {
    text-decoration: none;
    list-style: none;
    color: var(--secondaryfont)
}

.fs-links a {
    display: block;
    position: relative;
    cursor: default;
    color: var(--salmon);
}



.f-loc-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: .5rem;
}





.f-contacts p,
.f-contacts i {
    display: inline;
}

.f-loc {
    display: inline-flex;
    justify-content: start;
    align-items: center;

}

.f-loc i {
    margin: 0 10px 0 0;
}


.f-logo-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.stylernaline {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    margin: 1rem 0;
    justify-content: center;
}

.stylernaline::after,
.stylernaline::before {
    content: '';
    position: absolute;
    height: 2px;
    background: var(--Crimson);
    margin: auto;
    width: 48%;
    top: 45%;
}

.stylernaline::after {
    left: 0;
}

.stylernaline::before {
    right: 0;
}

.maydiamondsaloob {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--Carmine);
}

.copyright {
    font-family: var(--poppins);
    color: var(--salmon);
    font-size: 15px;
    margin: 1rem 0 0 0;
    text-align: center;
}


.return {
    padding: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    width: 100%;
}

.return.bg {
    background-color: #10110ebb;
    transition: 800ms;
}

.return a {
    font-family: var(--poppins);
    color: var(--Carmine);
    text-decoration: none;
    transition: .5s;
    font-weight: 700;
    font-size: 20px;
    

}

.return a:hover {
    color: var(--salmon);
}






.highlight {
    color: #b6f0ff;
    font-size: 20px;
    font-weight: 600;
}


/* LINKS */

.return {
    background-color: #050505b7;
    padding: 25px 2.5rem;
}

/* Binagol */

.link-section {
    padding: 1.5rem 5rem;
}

.img-box {
   width: 50vw;
}

.img-box h1 {
    font-family: var(--roboto);
    font-size: 25px;
    color: var(--Carmine);
    margin-bottom: 25px;
    text-align: center;
}

.dl {
border: var(--Carmine) 1px solid;
border-radius: 8px;
padding: 1.5rem;

display: flex;
align-items: center;
gap: 2rem;
position: relative;
}

.dl p {
    font-family: var(--poppins);
    font-size: 18px;
    color: var(--salmon);
    width: 50vw;
    text-align: justify;

}

.dl h1 {
    position: relative;
    display: flex;
    justify-content: center;
}
.dl h1::before {
    content: '';
    background-color: var(--Desire);
    width: 50%;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.link-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dl img {
    width: 100%;
    height: auto;
    border-radius:15px;
    border:var(--Carmine) 2px solid;
}

/* MEDIA QUERIES */



@media (max-width:1920px) {

   

    .b-section {
        padding: 20px 20rem;
    }

}

@media (max-width:1750px) {
    .b-section {
        padding: 20px 17rem;
    }

    .etitle {

        font-size: 23px;
    }

    .dl p {
        font-size: 16px;
    }

}

@media (max-width:1600px) {
    .b-section {
        padding: 20px 15rem;
    }

    .etitle {

        font-size: 22px;
    }
    .pop-up-img img {
        width: 100%;
        height: auto;
        padding: 1rem;
        border-radius: 25px;
    }
    .dl p {
        font-size: 14px;
    }
}



@media (max-width:1450px) {
    .b-section {
        padding: 20px 13rem;
    }

    .etitle {

        font-size: 21px;
    }
    .dl p {
        font-size: 13px;
    }
}

@media (max-width:1360px) {

    .b-section {
        padding: 20px 10rem;
    }

    .grid-description {
        font-size: 17px;
    }
    .dl p {
        font-size: 12px;
    }
   
    nav {
        padding: 20px 6rem 20px 5rem;
    }
}

@media (max-width:1280px) {

    .welcome-content h1 {
        font-size: 60px;
    }

    .welcome-content p {
        font-size: 20px;
    }

    .service-card {
        width: 235px;
        height: 225px;
    }

    .b-section {
        padding: 20px 9rem;
    }

    .b-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
     
    }

    .b-card:nth-child(1) {
        grid-row: span 2;
    }

 .b-card:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .b-card:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

   

    .b-card:nth-child(4) {
        grid-row: span 1;
        grid-column: span 2;
    }
    

}



@media (max-width:1180px) {
    
  

    .b-container {
        justify-items: center;
    }

   

    .explore-grid2 {
        columns: 2;
    }

    .about-container {
        flex-direction: column;
    }

    .about-details h1 {
        text-align: center;
    }

    .grid-description {
        font-size: 14px;
    }

    .explore-grid1 {
        columns: 2;
        padding: 1rem;
    }
    .explore-grid-main {
        
        grid-template-columns: repeat(2, 1fr);
       
    }
   
    .dl p {
        text-align: justify;
        font-size: 16px;
    }

    .dl:nth-child(1) {
        flex-direction: column;
    }
    
    .dl:nth-child(2) {
        flex-direction: column-reverse;
    }
    .dl:nth-child(3) {
        flex-direction: column;
    }
    
    .dl:nth-child(4) {
        flex-direction: column-reverse;
    }
    
    .dl:nth-child(5) {
        flex-direction: column;
    }
    
    .dl:nth-child(6) {
        flex-direction: column-reverse;
    }
    
    .dl:nth-child(7) {
        flex-direction: column;
    }
    
    .dl:nth-child(8) {
        flex-direction: column-reverse;
    }

    .logo-name {
        display: none;
    }
    

}

@media (max-width:1024px) {

    .welcome-content h1 {
        font-size: 48px;
    }

    .welcome-content p {
        font-size: 18px;
    }

    .service-container {
        grid-template-columns: repeat(2, .2fr);
    }


    
    .b-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
     
    }

    .b-card:nth-child(1) {
        grid-row: span 1;
    }

    .b-card:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .b-card:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .b-card:nth-child(4) {
        grid-row: span 1;
        grid-column: span 1;
    }

    .service-title {
        font-size: 30px;
    }
}





@media (max-width:950px) {
    .b-section {
        padding: 20px 10rem;
    }

    nav {
        padding: 20px 3rem 20px 5rem;
    }
}

@media (max-width:835px) {
    .footer-row {
        flex-direction: column;
        align-items: start;
        justify-content: center;

    }

    .fb {
        left: -36px;
        padding: 4px 15px;
        font-size: 13px;
    }

   

    .dc {
        left: -2px;
        font-size: 13px;
    }

    .git {
        left: -10px;
        font-size: 13px;
    }






    .service-section {
        padding: 10rem 1.5rem;
    }

    .fcolumn h3 {
        margin: 15px 0 7px 0;
    }

    .f-loc-flex {
        display: flex;
        flex-direction: column;
    }

  

    .grid-description {
        font-size: 13px;
    }

}

@media (max-width:768px) {
    .navmenu {
        display: flex;
    }


    nav {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
    }

    .links-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 0;
        display: none;

    }

    .llogo {
        left: 1rem;
    }
   

    .rl {
        display: flex;
        text-align: center;
        padding: 20px;
        justify-content: center;
        background-color: #050505b7;
    }

    .rl:hover {
        background: #10110eb0;
    }

    .links-container.active1 {
        display: block;
    }

    .service-container {
        grid-template-columns: repeat(1, .2fr);
    }

    .b-section {
        padding: 20px 2rem;
    }

    .about-details {
        width: auto;
    }

    .freepik {
        width: 300px;
    }

    .service-section {
        padding: 10rem 1rem;
    }

    .welcome-content p {
        font-size: 16px;
    }

    .pop-up-img img {
        width: 100%;
        height: auto;
        padding: 1rem;
        border-radius: 25px;
    }
    
    .explore-grid1 {
        columns: 1;
    }

    .explore-grid-main {
        
        grid-template-columns: repeat(1, 1fr);
       
    }

    .b-container {
        grid-template-columns: repeat(1, 0.6fr);
        grid-template-rows: repeat(4, 1fr);
        height: 1200px;
        justify-content: center;
    }

.service-title {
    font-size: 26px;
}

}

@media (max-width:640px) {

 .grid-title {
    font-size: 28px;
 }

 .return a {
    font-size: 17px;
 }

 .dl p {
    width: auto;
    /* padding:  0 ; */
 

}
.link-section {
    padding:  0 .5rem;
}


#f-company h1 {
    font-size: 27px;
}

.service-title {
    font-size: 24px;

}
}



@media (max-width:550px) {

    .aboutsec {
        padding: 5rem 0;
    }

    .about-container {
        padding: 25px 0;
    }

    .about-details {
        font-size: 30px;
    }

    .about-titles p {
        margin-bottom: 2rem;
    }

    .b-container {
        height: 900px;
        grid-template-columns: repeat(1, 0.8fr);
    }

    .b-section {
        padding: 20px .5rem;
    }
    
}

@media (max-width:475px) {

    .grid-title {
        font-size: 23px;
     }

}

@media (max-width:380px) {

}


@media (max-width:280px) {
    .freepik {
        width: 275px;
    }

    footer {
        padding:2rem .2rem;
    }

    .welcome-content {
        padding: 7rem 0px;
    }
    .grid-title {
        font-size: 18px;
     }

     #f-company h1 {
        font-size: 16px;
    }
}