@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {

    /* BASIC ROOT */
    --roboto: "Roboto Slab", serif;
    --poppins: 'Poppins', sans-serif;
    --mainfont: #24242e;
    --mainfont1: #667081;
    --grayfont: rgb(95, 95, 95);
    --secondaryfont1: #acccd4;
    --secondaryfont: #DCF2F1;
    --navbar-color:#1618139a;
    
    /*GRADIENT  */
    --monospace: 'Source Code Pro', monospace;
    --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.22) 36.98%, rgba(22, 24, 19, 0.47) 70.83%, rgba(22, 24, 19, 0.76) 100%);
    --gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.42) 21.88%, rgba(22, 24, 19, 0.69) 41.67%, rgba(22, 24, 19, 0.9) 61.98%, rgba(22, 24, 19, 0.99) 78.12%, #161813 100%);
    --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
    --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);



    /* BUTTON ROOT */
    --gradient-color: linear-gradient(90deg,
                    hsl(0, 0%, 46%) 0%,
                    hsl(24, 11%, 9%));
  --black-color: hsl(0, 0%, 100%);
  --reflection-color: hsla(48, 30%, 95%, .3);

  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   scroll-behavior: smooth;
 
  
}
html{
    scroll-behavior: smooth;
    
}

header {
    min-height: 100vh;
}

body {
    background-color: #161813;
}
/* NAVBARRRRR */

nav {
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    padding: 20px 10rem 20px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050505b7;
}


.logo {
    height: 72px;
    margin-top: 10px;
}



.links-container {
    display: flex;
    gap: 2.5rem;
    
}

.link-item {
    list-style: none;

}

.rl {
    color: #b6f0ff;
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 19px;
    font-weight: 600;

    transition: 200ms ease;
}

.rl:hover {
    color: #ffffff;
}


.navmenu {
    position: absolute;
    width: 60px;
    right: 1rem;
    top: 1.2rem;
  display: none;
}


/* BACKROUND IMAGE */


.welcome-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    
  
}
.welcome-bg img {
    width: 100%;
    height: 100%;
    filter:brightness(70%);
  
}

.welcome-bg::before, .welcome-bg::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.welcome-bg::before {
    top: 0;
    left:0;
    background: var(--gradient-top);
}

.welcome-bg::after {
    bottom: 0;
    left:0;
    background: var(--gradient-bottom);
} 




/* WELCOME PAGE */


 .welcome-page {
    min-height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    
 
   
 }
 
 .welcome-content {
    padding: 15px;
 }
 .welcome-content p {
    font-family: var(--poppins);
    color: var(--secondaryfont);
    font-size: 25px;
    font-weight: 500;
 }
 .w3 {
    font-family: var(--poppins);
    color: var(--secondaryfont);
 }



    
 
 .welcome-content h1 {
    font-family: var(--roboto);
    font-size: 70px;
    font-weight: 200;
    color: white;
 }


 
 .company-name {

    color: #b6f0ff;
   font-weight: 700;

 }

 .imp-name{
    color: #b6f0ff;
    font-weight: 700;
 }





/* ARROW */

.scroll-d {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    animation: test ease .5s infinite;
   
}







/* ABOUT SECTION */
.about-titles {
    font-family: var(--poppins);
    text-align: center;
  
    color: #b6f0ff;
    
}
.about-titles h1{
    color: #b6f0ff;
    font-size: 40px;
    margin: 0 0 10px 0;
    font-family: var(--roboto);
    font-weight: 400;
}
.about-titles p {
    text-align: center;
    font-size:18px;
    font-weight: 400;
    color: #d8d8d8fd;
    margin-bottom: 5rem;
}
.aboutsec {
    width: 90%;
    margin: 0 auto;
    padding:12rem 20px;
    min-height: 100vh;
}
.about-container {
    display:flex;
    justify-content: center;
    align-items: center;
   padding: 25px;
   gap: 25px;
   
}

.freepik {
    color: rgb(240, 238, 235);
    
    width: 500px;
  
   
    
    transition: 500ms ease;
    border: 4px solid  #b6f0ff;
    border-radius: 15px;
    
}




.about-details {
  
    font-family: var(--poppins);
    width: 600px;
}



.about-details h1{
    color: #b6f0ff;
    font-size: 40px;
    margin: 0 0 10px 0;
    font-family: var(--roboto);
    font-weight: 400;
}

.about-details p{
    color: #d8d8d8fd;
   font-size: 16px;
   margin: 0 0 30px 0;
   line-height: 2;
   text-align: justify;
  
}






/* DESTINATION SECTION */

.explore {
    
   
    color: white;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explore-title {
   
    font-family: var(--roboto);
    font-size: 40px;
   margin: 6rem 0 10px 0 ;
}
.explore-details {
    font-family: var(--poppins);
    color: var(--secondaryfont);
    margin-bottom: 80px;
 
    
}




#travel {
    font-family: var(--poppins);
    min-height: 100vh;
    background-color: #161813;
}

/* D- HEADINGS */

.d-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 5rem 0;
    color: var(--mainfont);
    font-size: 27px;
}

.d-heading h2 {
    font-weight: 700;

}




/* D BOX */

.d-box {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    

}

.boxd {
    width: 350px;
    height: 500px;
    padding: 12.5rem 0 0px 0;
    margin: 2rem;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 500ms ease;

}

.boxd1 {
    width: 350px;
    height: 500px;
    padding: 12.5rem 0 0px 0;
    margin: 2rem;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 500ms ease;
}

.boxd2 {
    width: 350px;
    height: 500px;
    padding: 12.5rem 0 0px 0;
    margin: 2rem;
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 500ms ease;
    
}


.dtxt > *:not(.box-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.boxd:hover .dtxt > *:not(.box-title),
.boxd1:hover .dtxt > *:not(.box-title),
.boxd2:hover .dtxt > *:not(.box-title),
 
.boxd:focus-within .dtxt > *:not(.box-title),
.boxd1:focus-within .dtxt > *:not(.box-title),
.boxd2:focus-within .dtxt > *:not(.box-title)
 {

    opacity: 100;
    transition-delay: 300ms;
}

.boxd:hover,
.boxd1:hover,
.boxd2:hover,
.boxd:focus-within,
.boxd1:focus-within,
.boxd2:focus-within

{
    transform: scale(110%);
}



.boxd .dtxt,
.boxd1 .dtxt,
.boxd2 .dtxt {
    transform: translateY(40%);
    transition: transform 500ms ease;
    
   
}


.boxd:hover .dtxt,
.boxd1:hover .dtxt,
.boxd2:hover .dtxt,
.boxd:focus-within .dtxt,
.boxd1:focus-within .dtxt,
.boxd2:focus-within .dtxt {

    transform: translateY(-25%);
    transition-duration: 0ms;
    
}

.boxd:hover .dtxt,
.boxd1:hover .dtxt,
.boxd2:hover .dtxt {

    transition: transform 500ms ease;
}







.dtxt {

    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / .2) 10%,
            hsl(0 0% 0% / 1));
    --padding: 2rem;
    padding: var(--padding);
    max-width: 350px;
    height: 450px;
    font-size: .85rem;
   

}






/* TITLEEEEEEEEEEEEEEEEEEEEE */

.dtxt .box-title {

    position: relative;
    margin-bottom: 50px;
    width: max-content;
    color: var(--secondaryfont);
    margin: 10px 5px 1.5rem 10px;
    font-size: 1rem;
    font-weight: 700;
    
   

    
}



.dtxt .box-title a {

   color: var(--secondaryfont1);
   text-decoration: none;
}



.dtxt .box-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding)* 1.7);
    background: var(--secondaryfont1);
    bottom: 0;
    left: calc(var(--padding)* -1.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1000ms ease;
    
}

.boxd:hover .dtxt .box-title::after,
.boxd1:hover .dtxt .box-title::after,
.boxd2:hover .dtxt .box-title::after,
.boxd:focus-within .dtxt .box-title::after,
.boxd1:focus-within .dtxt .box-title::after,
.boxd2:focus-within .dtxt .box-title::after  
{
    transform: scaleX(1);
  

}



/* PARAGRAPHHHHHHHHHHHHHHH */

.dtxt .box-text {
    color: var(--secondaryfont);
    margin: 10px 5px 10px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
}

/* BUTTONS */
/* 
.button {
    margin: 0 0 0 10px;
    color: var(--mainfont);
    padding: .3rem 2rem;
    border-radius: 20px;
    background-color: var(--secondaryfont);
    cursor: pointer;
    text-decoration: none;
    transition: 500ms ease;
}

.button:hover {

    background-color: var(--mainfont);
    color: var(--secondaryfont);
 
} */

hr {
    display: block;
}






/* GALLLALLAL */

.b-section {
    width: 100%;
    min-height: 100vh;
    padding: 20px 20rem;
}
.b-sec-title {
    text-align: center;
    font-family: var(--roboto);
    font-size: 40px;
    justify-content: center;
    color: var(--secondaryfont);
    display: flex;
    margin-top: 80px;
    
 
}

.b-sec-details {
    text-align: center;
    font-family: var(--poppins);
    color: var(--secondaryfont);
    margin-bottom: 30px;
   
}

.b-container{
    position: relative;
    width: 100%;
    height: 600px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    
    
    
}


.b-card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: end;
 
    font-family:var(--poppins);
    color: var(--secondaryfont);
    

}

.etitle {
font-weight: 300;
font-size: 25px;}

.ebutton {
    font-weight: 50;
    position: relative;
    font-size: 13px;
    text-decoration: none;
    color: var(--secondaryfont);
}

.b-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 500ms ease;
    opacity: .6;
}


.b-card:hover  .b-img{
    transform: scale(1.1);
    opacity: 1;
}

.b-card:nth-child(1){
    grid-row: span 3;
}
.b-card:nth-child(3){
    grid-column: span 2;
}
.b-card:nth-child(2){
    grid-row: span 2;
}
.b-card:nth-child(4){
    grid-row: span 2;
}




/* SERVICES */

.service-section {
    min-height: 100vh;
    padding: 10rem 5rem;
    display: flex;
   
    flex-direction: column;
    
}
.service-title {
   
    font-family: var(--roboto);
    font-size: 40px;
   text-align: center;
   color: var(--secondaryfont);
   margin-top: 2rem;
}
.service-details {
    font-family: var(--poppins);
    color: var(--secondaryfont);
  text-align: center;
  
}


/* CARD */


.service-container {
   
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, .2fr);
    color: var(--secondaryfont1);
 grid-gap: 1rem;
  margin-top: 80px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.service-card {
    width: 260px;
    height: 250px;
    border-radius: 25px;
    border: #b6f0ff solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--poppins);
    gap: 12px;
    background: #2729254d;
    text-align: center;
    position: relative;
    transition: 500ms ease;
}
.service-card i {
    font-size: 60px;
    z-index: 1;
}


.service-card-text {
    color: var(--secondaryfont);
    z-index: 1;
}

.anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1000ms ease;
    clip-path: circle(0.0% at 50% 50%);
    background-color: var(--secondaryfont1);
    border-radius: 20px;

}

.service-card:hover .anim{
    clip-path: circle(70.7% at 50% 50%);
}
.service-card:hover {
    color: #92e6fc;
}

.service-card:nth-child(1) .anim{

    background: url(baguio/3.jpg);
    background-size: cover;
    opacity: .8;
}
.service-card:nth-child(2) .anim{

    background: url(ilocos/6.jpg);
    background-size: cover;
    opacity: .8;
}
.service-card:nth-child(3) .anim{

    background: url(baguio/10.jpg);
    background-size: cover;
    opacity: .8;
}
.service-card:nth-child(4) .anim{

    background: url(tanay/1.jpg);
    background-size: cover;
    opacity: .8;
}

#explore-grid img{
    cursor: pointer;
}


/* POPUP IMAGE ON CLICK */
.pop-up-img {
    position: fixed;
    top: 0%;
    left: 0%;
    background:#10110ea4 ;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
justify-content: center;
align-items: center;
display: none;

/* backdrop-filter: blur(3px); */
}
.pop-up-img span {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 30px;
    font-weight: 800;
    color: #b6f0ff;
    cursor: pointer;
    transition: 250ms ease;
    z-index: 11;
}
.pop-up-img span:hover {
    color: #647d83;
}
.pop-up-img img {
   top: 50%;
   left:50%;
  
  width: auto;
  height: 95%;
  border-radius: 90px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 5rem;
  
}


.main-grid-title {
    text-align: center;
    font-family: var(--roboto);
    margin-top: 7rem;
    color: #b6f0ff;
    font-size: 30px;
}

.explore-grid1 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
}

.explore-grid2 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
}
.explore-grid3 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
}
.explore-grid4 {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    columns: 3;
    margin-top: 20px;
}


.grid-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: .7;
    transition: 500ms ease;
}

.grid-img:hover {
    opacity: 1;
    
}
.grid-title {
    font-family:var(--roboto);
    color: #b6f0ff;
    margin-top: 7rem;
    
    font-size: 35px;
    display: flex;
    justify-content: center;
   
}


.grid-description {

    font-family: var(--poppins);
    margin: 20px 0 20px 0;
    opacity: .7;
    text-align: center;
    color: var(--secondaryfont);
    font-size: 20px;
}
.bookings {
    position:relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 30px;

    padding: 0 10vw;
}

.book-img {
    position: absolute;
    width:55%;
    right: 0;
    top: 0;
    z-index: -9;
}
.book-container {
  font-family: var(--poppins);
  font-size: 20px;
  color: var(--secondaryfont);

  
  
  
}

.book-details {
    padding: 15px 33vw 0 0 ;
    text-align: justify;
    line-height: 2;
}

.book-title {
    font-family: var(--roboto);
    font-size: 60px;
    font-weight: 300;
    width: 450px;
    color: #b6f0ff;
}

.btn-container {
    margin-top: 3rem;
    margin-bottom:5rem;
    display: flex;
  }
  
  .btn {
    position: relative;
    transition: transform .4s;
    text-decoration: none;
  }
  
  .button-content {
    position: relative;
    background: var(--gradient-color);
    padding: 1.25rem 3rem;
    border-radius: 4rem;
    border: 3px solid var(--black-color);
    color: var(--black-color);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    overflow: hidden;
  }
  
  .button-text {
    font-weight: 700;
  }
  
  .button-icon {
    font-size: 1.5rem;
  }
  
  .button-text, 
  .button-icon {
    position: relative;
    z-index: 2;
  }
  
  /* Reflection shapes */
  .button-reflection1, 
  .button-reflection2 {
    width: 8px;
    height: 120px;
    background-color: var(--reflection-color);
    rotate: 30deg;
    position: absolute;
    inset: 0;
    top: 0;
    left: -180%;
    margin: auto;
    transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
  }
  
  .button-reflection1::after {
    content: "";
    width: 26px;
    height: 100%;
    background-color: var(--reflection-color);
    position: absolute;
    top: -1rem;
    left: 1.25rem;
  }
  
  .button-reflection2::after {
    content: "";
    width: 40px;
    height: 100%;
    background-color: var(--reflection-color);
    position: absolute;
    top: -1rem;
    left: .8rem;
  }
  
  /* Moving geometric shapes */
  .btn img {
    position: absolute;
    opacity: 0;
    transition: transform .5s, opacity .5s;
  }
  
  .button-star1 {
    width: 20px;
    top: -14px;
    left: -16px;
    transform: rotate(48deg) scale(.1);
  }
  
  .button-star2 {
    width: 40px;
    right: -10px;
    top: -4px;
    transform: rotate(-48deg) scale(.1);
  }
  
  .button-circle1, 
  .button-circle2 {
    width: 8px;
  }
  
  .button-circle1 {
    top: -8px;
    left: 58px;
    transform: scale(.1);
  }
  
  .button-circle2 {
    right: 34px;
    bottom: -8px;
    transform: scale(.1);
  }
  
  .button-diamond {
    width: 18px;
    top: -18px;
    right: 62px;
    transform: scale(.1);
  }
  
  .button-triangle {
    width: 30px;
    left: 15px;
    bottom: -16px;
    transform: rotate(-48deg) scale(.1);
  }
  
  /* Gradient shadow */
  .button-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--gradient-color);
    padding: 1.25rem 3rem;
    border-radius: 4rem;
    border: 3px solid var(--black-color);
    z-index: -1;
    transition: transform .3s;
  }
  
  /* View shadow gradient */
  .btn:hover .button-shadow {
    transform: translate(-.5rem, .5rem);
  }
  
  /* Move reflection */
  .btn-2:hover .button-reflection1 {
    left: 120%;
  }
  
  .btn:hover .button-reflection2 {
    left: -70%;
  }
  
  /* View geometric shapes */
  .btn:hover {
    transform: rotate(-4deg) scale(1.1);
  }
  
  .btn:hover img {
    opacity: 1;
  }
  
  .btn:hover .button-star1 {
    transform: scale(1.1);
    transition-delay: .1s;
  }
  
  .btn:hover .button-star2 {
    transform: scale(1.1);
  }
  
  .btn:hover .button-circle1 {
    transform: translateY(-8px) scale(1.1);
    transition-delay: .1s;
  }
  
  .btn:hover .button-circle2 {
    transform: translate(-20px, 20px) scale(1.1);
  }
  
  .btn:hover .button-diamond {
    transform: translateY(7px) rotate(-24deg) scale(1.1);
  }
  
  .btn:hover .button-triangle {
    transform: rotate(-12deg) scale(1.1);
  }






/* FOOOOOTERRRR */

footer {
    background-color: #10110e;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
    
}
.f-logo {
    width: 100px;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
}
#f-company  {
   text-align: justify;
}

#f-company h1 {
    color: #b6f0ff;
    font-family: var(--roboto);
    font-weight: 500;
}
#f-company img {
    display: inline;
}

#f-company p {
margin-bottom: 10px;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.fcolumn{
    min-width: 250px;
    color: var(--secondaryfont);
    font-family: var(--poppins);
    padding: 0 .5rem;
   

}

.fcolumn h3 {
    color: #b6f0ff;
    position: relative;
    cursor:pointer;
    margin-bottom: 25px;

}

.fcolumn h3:after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: var(--secondaryfont);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 500ms ease;
    transform-origin: center;
}
.fcolumn h3:hover::after {
    width: 60%;
}

.f-socials  i {
    font-size: 20px;
    margin-left:10px;
    transition: 200ms ease;
}
.f-socials  i:hover {
    transform: scale(1.5);

}
footer a {
    text-decoration: none;
    list-style: none;
    color:var(--secondaryfont)
}
.fs-links a {
    display: block;
    position:relative;
   
}
.fs-links a:before {
    content:'';
    height: 15px;
    width: 3px;
    background: #b6f0ff;
    position: absolute;
    top: 5px;
    left: -8px;
    opacity: 0;
    transition: 500ms ease;
    
}

.f-loc-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.fs-links a:hover::before {
    opacity: 1;
    
}
.fs-links a:hover {
    transform:translateX(-5px) ;
    filter: grayscale(100%);
color: red;
}

.f-contacts p, .f-contacts i {
display: inline;
}

.f-loc {
    display: inline-flex;
    justify-content: start;
    align-items: center;

}
.f-loc i {
    margin: 0 10px 0 0;
}


.f-logo-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.stylernaline {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    margin: 1rem 0;
    justify-content: center;
}
.stylernaline::after, .stylernaline::before {
    content: '';
    position: absolute;
    height: 2px;
    background: #b6f0ff;
    margin: auto;
    width: 48%;
    top: 45%;
}

.stylernaline::after{
    left: 0;
}
.stylernaline::before{
    right: 0;
}

.maydiamondsaloob {
    display: flex;
    align-items: center;
    font-size: 30px;
    color:#b6f0ff;
}
.copyright {
    font-family: var(--poppins);
    color: var(--secondaryfont);
    font-size: 15px;
    margin: 1rem 0 0 0;
    text-align: center;
}


.return {
    padding: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
z-index: 99;

   width: 100%;
}

.return.bg {
    background-color:#10110ebb;
    transition: 800ms ;
}

.return a {
    font-family: var(--poppins);
    color: #b6f0ff;
    text-decoration: none;
    transition: .5s;

}

.return a:hover {
    color: #ffffff;
}

.maps-title {
    font-family: var(--roboto);
    color: #92e6fc;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 35px;
}
.g-maps {
    font-family: var(--poppins);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.maps-description {
    margin: 0 0 0 5rem ;
    line-height: 2;
    text-align: justify;
    font-size: 16px;
}
iframe {
    border-radius: 25px;
    width: 30rem;
}

.highlight {
    color: #b6f0ff;
    font-size: 20px;
    font-weight: 600;
}






/* BOOOKING FORM */

.booking-form-section{
    margin-top: 4rem;
}
.bform-container {

    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* others */
    padding: 35px;
    min-height: 100vh;
    font-family: var(--poppins);
    color: rgb(216, 242, 248);
}

.booking-titles {
    color: #b6f0ff;
    font-family: var(--roboto);
    margin: 0 0 1.2rem 0;
    font-size: 35px;
    text-align: center;
}

 
input, textarea, select {
    margin-bottom: 20px;
    border:none;
    background: #161813;
    font-family: var(--poppins);
    color: #b6f0ff;
    border-radius: 5px;
   
   
} 

input, select {
    height: 38px;
}
.first-line {
    display: flex;
    gap: 11px;
   
}


.second-line {
    display: flex;
    gap: 11px;
}

.message-f{
    width: 100%;
    margin-right: 12.4rem;
}

.email-f{
    width: 100%;
    margin-right: 11.3rem;
    padding: 5px 0;
}



.third-line {
    display: flex;
    gap: 11px;
}
.third-line input {
   width: 100%;
  padding: 5px 0;
}
.bleft  {
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.bleftp1 {
    font-size: 25px;
    margin: 0 0 10px 0;
}
.bleft-title {
    font-size: 70px;
    color: #b6f0ff;
    font-family: var(--roboto);
    margin-bottom: 16px;
}
.bleftp2 {
    color: #9cc5cf;
    font-size: 14px;
}
.bleftp1 {
    margin-top: 16px;
}
.bright {
    width: 35%;
    background: #26292191;
    padding: 20px 25px;
    height: 65vh;
    display:flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.booking-form-section {
    min-height: 100vh;
}

.book-btn {
    background-color: #161813;
    font-family: var(--poppins);
    color: #b6f0ff;
    padding: 17px 25px;
    margin-top: 10px;
   border: none;
    border-radius: 20px;
    font-weight: 700;
    transition: 500ms ease-in-out;
    cursor: pointer;
}
.book-btn:hover {
    background-color: #b6f0ff;
    color: #161813;
   
}

/* MEDIA QUERIES */



@media (max-width:1920px) {

  .service-container {
    grid-template-columns: repeat(4, .1fr);
  }

  .b-section {
    padding: 20px 20rem;
  }

}

@media (max-width:1750px) {
    .b-section {
        padding: 20px 17rem;
      }
  
      .etitle {
       
        font-size: 23px;}

}
@media (max-width:1600px) {
    .b-section {
        padding: 20px 15rem;
      }
  
      .etitle {
       
        font-size: 22px;}
}



@media (max-width:1450px) {
    .b-section {
        padding: 20px 13rem;
      }
  
      .etitle {
       
        font-size: 21px;}
  
}
@media (max-width:1360px) {

    .b-section {
        padding: 20px 10rem;
      }
}

@media (max-width:1280px) {

  .welcome-content h1 {
    font-size: 60px;
  }
  
  .welcome-content p {
    font-size: 20px;
  }

  .service-card {
    width: 235px;
    height: 225px;
  }

  .b-section {
    padding: 20px 12rem;
  }

  .b-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 1100px;
  }
 
.b-card:nth-child(1){
    grid-row: span 2;
}
.b-card:nth-child(3){
    grid-column: span 1;
}
.b-card:nth-child(2){
    grid-row: span 1;
}
.b-card:nth-child(4){
    grid-row: span 2;
}

}



@media (max-width:1180px) {
    .b-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 900px;
      }

      .b-section {
        padding: 20px 16rem;
      }

      .b-container {
        justify-items: center;
      }

      .b-card:nth-child(1){
        grid-row: span 1;
    }
    .b-card:nth-child(3){
        grid-column: span 1;
    }
    .b-card:nth-child(2){
        grid-row: span 1;
    }
    .b-card:nth-child(4){
        grid-row: span 1;
    }
  
    .explore-grid2 {
        columns:2;
    }

    .about-container {
        flex-direction: column;
    }

    .about-details h1 {
        text-align: center;
    }

}
@media (max-width:1024px) {

    .welcome-content h1 {
        font-size: 48px;
      }
      
      .welcome-content p {
        font-size: 18px;
      }

      .service-container{
        grid-template-columns: repeat(2, .2fr);
      }

      
    
     
}





@media (max-width:950px){
    .b-section{
        padding: 20px 13.5rem;
    }
}
@media (max-width:835px){
    .footer-row {
        flex-direction: column;
        align-items: start;
        justify-content: center;

    }

    .service-section {
        padding: 10rem 1.5rem;
    }

    .fcolumn h3 {
   margin:  15px 0 7px 0;
    }
    
    .f-loc-flex {
        display: flex;
        flex-direction: column;
    }

    .b-section{
        padding: 20px 11rem;
    }
}

@media (max-width:768px) {
    .navmenu {
        display: flex;
    }

    /* .links-container {
        display: none;
    } */

    nav {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        height: 84px;
    }

    .links-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 0;
        display: none;
       
    }
    .logo {
        margin: 8px 0 0 30px ;
    }
    .rl {
        display: flex;
        text-align: center;
        padding: 20px;
        justify-content: center;
        background-color: #050505b7;
    }
    .rl:hover {
        background: #10110eb0;
    }

    .links-container.active1 {
        display: block;
    }

    .service-container{
        grid-template-columns: repeat(1, .2fr);
      }

      .b-section{
        padding: 20px 1rem;
    }

    .about-details {
        width: auto;
    }

    .freepik {
        width: 300px;
    }

    .service-section {
        padding: 10rem 0rem;
    }
}

@media (max-width:640px) {

}



@media (max-width:550px) {

    .aboutsec {
            padding: 5rem 0;
    }

    .about-container {
        padding: 25px 0;
    }

    .about-details {
        font-size: 30px;
    }

    .about-titles p {
        margin-bottom: 2rem;
    }

    .b-container {
        height: 750px;
    }
    .b-section {
        padding: 20px .5rem;
    }
}

@media (max-width:475px) {

}
@media (max-width:380px) {

}

